<% layout('/partials/layout.ejs') -%>
<% block('page_title', 'index') -%>
<% block('page_js', '/scripts/pages/h5/20th/20th-s.js') -%>
<!DOCTYPE html>
<html lang="en">
<head>
   
   <meta name="viewport" content="width=750,target-densityDpi=device-dpi,user-scalable=no">
   
   <style type="text/css">
      body {
         width: 750px;
         overflow: hidden;
         margin: 0 auto;
         -webkit-user-select: none;
         -webkit-touch-callout: none;
     }
     audio {
         display: none;
         width: 0;
         height: 0;
     }
     #container {
         width: 750px;
         height: 100%;
         background: url(//img2.cache.netease.com/f2e/wap/demo/xzh5test/src/textures/bg.jpg) center center no-repeat;
     }
     canvas {
         width: 100%;
         height: 100%;
     }
     .stage {
         width: 750px;
         height: 100%;
         position: absolute;
         overflow: hidden;
     }
     .stage .animation-area {
         width: 750px;
         overflow: hidden;
         height: 900px;
         pointer-events: none;
         opacity: 0;
     }
    
   </style>
   <link rel="stylesheet" type="text/css" href="//img2.cache.netease.com/f2e/wap/demo/xzh5test/src/css/style.eXSREpzdiEzP.1.css">
</head>
<body>
<div id="container">
   <div class="stage stage-0" style="display: block;">
      <div class="nian-3d">
      </div>
      <div class="title-0" style="opacity: 1;"></div>
      <div class="fingerprint" style="opacity: 1;">
         <div class="pic"></div>
         <div class="info"></div>
         <div class="netease_logo"></div>
      </div>
   </div>
   <div class="stage stage-1">
      <div class="text-area-wrap">
         <div class="line-fix-0"></div>
         <div class="line-fix-1"></div>
         <div class="line-fix-2"></div>
         <div class="line line-0"></div>
         <div class="line line-1"></div>
         <div class="line line-2"></div>
         <div class="line line-3"></div>
         <div class="line-all"></div>
         <div class="dot dot-0"></div>
      </div>
      <div class="animation-area animation-area-0">
         <div class="aitem mountain-0"></div>
         <div class="aitem human"></div>
         <div class="aitem mountain-1"></div>
         <canvas id="snow"></canvas>
      </div>
      <div class="animation-area animation-area-1">
         <div class="aitem wave-0"></div>
         <div class="aitem ship"></div>
         <div class="aitem wave-1"></div>
         <div class="aitem wave-2"></div>
         <div class="aitem wave-3"></div>
         <div class="aitem wave-4"></div>
         <div class="aitem wave-5"></div>
         <div class="aitem wave-6"></div>
         <div class="aitem wave-light"></div>
         <div class="aitem tower"></div>
         <div class="aitem light"></div>
         <div class="aitem birds"></div>
      </div>
      <div class="animation-area animation-area-2">
         <div class="aitem worldland"></div>
         <div class="aitem tree"></div>
         <div class="aitem leaf-0"></div>
         <div class="aitem leaf-1"></div>
         <div class="aitem leaf-2"></div>
         <div class="aitem leaf-3"></div>
         <div class="aitem leaf-4"></div>
         <div class="aitem leaf-5"></div>
         <div class="aitem leaf-6"></div>
         <div class="aitem leaf-7"></div>
      </div>
      <div class="animation-area animation-area-3">
         <div class="aitem sun"></div>
         <div class="aitem building-0"></div>
         <div class="aitem building-1"></div>
         <div class="aitem heart"></div>
         <div class="aitem cloud-0"></div>
         <div class="aitem cloud-1"></div>
         <div class="aitem cloud-2"></div>
      </div>
      <div class="others">
         <div class="info-0"></div>
         <div class="info-1">
            <div class="strokes-0"></div>
            <div class="strokes-1"></div>
            <div class="strokes-2"></div>
            <div class="strokes-3"></div>
         </div>
         <div class="info-title"></div>
      </div>
   </div>
   <div class="stage stage-5">
      <div class="text-area-wrap"></div>
      <div class="nian-2d"></div>
      <div class="title-0"></div>
      <div class="title-1"></div>
      <div class="title-2"></div>
   </div>
   <div class="stage stage-6">
      <div class="history"></div>
   </div>
</div>
<!-- <div class="music-btn on"></div>
<div class="loading hideIn">100%</div> -->
<!-- <audio id="music" src="//file.ws.126.net/f2e/wap/demo/xz/music_clip.mp3" autoplay="" loop="">
   Audio content cannot be played
</audio> -->
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script type="text/javascript" src="scripts/pages/h5/20th/20th.js"></script> -->
</body>
</html>