<html phone="1"><!--<![endif]--><head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">
<meta name="viewport" content="width=750 user-scalable=no">
<meta name="model_url" content="http://news.163.com/special/fdh5_zhangyy/">
<title>失踪青年章莹颖</title>
<meta name="keywords" content="">
<meta name="description" content="">

<script>if((/_touchall=1/.test(location.search)||!/auto|house|home|bbs|blog/.test(location.host))&&!/\/dy.163.com\/v2/.test(location.href)&&!(document.documentElement&&document.documentElement.getAttribute("phone"))&&/163\.com/.test(location.host)&&!/_pc=1/.test(location.search)&&/android.*?mobile|ipod|blackberry|bb\d+|phone/i.test(navigator.userAgent))document.write('<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/><div style="position:fixed;width:100%;height:100%;background:#fff"><div style="position:absolute;top:50%;left:0;width:100%;height:40px;margin-top:-40px;text-align:center;background:url(http://img1.cache.netease.com/utf8/endpage/image/loading.gif) no-repeat top center;padding-top:40px;color:#666">页面加载中 ...</div></div><script src="http://img2.cache.netease.com/f2e/system/touchall/collect/foot~jB23JBffh4bd.js"'+' defer><'+'/script><plaintext style="display:none">');</script>
<link href="http://img2.cache.netease.com/f2e/news/common/css/news.BmDT9sluSdyy.29.css" rel="stylesheet" type="text/css">
<script src="http://img1.cache.netease.com/cnews/js/ntes_jslib_1.x.js" type="text/javascript" charset="gb2312"></script>
<script src="http://img1.cache.netease.com/f2e/lib/js/ne.js"></script>
<link rel="stylesheet" href="http://img2.cache.netease.com/f2e/news/zhang_miss/zhang_miss.1232822.css">
<style type="text/css">#shareBoxImgLoading,#shareBoxLayout{position:fixed;z-index:99999;left:0;top:0;width:100%;height:100%;background:url(http://pimg1.126.net/mail/AppCore/bin/css/img/share.png) 87% 5% no-repeat rgba(0,0,0,.7);background-size:75% auto}#shareBoxImgLoading{position:absolute;width:1px;height:1px;left:-9999px;top:-9999px}.share,[cmd=share]{cursor:pointer}</style><style type="text/css">#wapShareWrap{position:fixed;left:0;top:0;width:100%;height:100%;overflow:hidden;z-index:9999}#wapShareWrap a{color:#666;-webkit-tap-highlight-color:transparent;text-decoration:none}.wapShareLayout{position:absolute;left:0;top:0;width:100%;height:100%;overflow:hidden;background:rgba(0,0,0,.2);z-index:1}.wapShareDialog{position:absolute;left:0;top:0;width:100%;height:auto;z-index:2;background:rgba(255,255,255,.95);padding:1rem 0 0;box-shadow:0 2px 4px #666}.wapShareDialog .wapShareLink{display:inline-block;width:25%;min-width:5rem;text-align:center;margin:0 0 1rem;padding-top:3rem;background-repeat:no-repeat;background-position:50% 0;font-size:1rem;background-size:auto 2.5rem}#wapShareLink_yixin{background-image:url(http://pimg1.126.net/mail/AppCore/bin/css/img/yixin.png)}#wapShareLink_sina{background-image:url(http://pimg1.126.net/mail/AppCore/bin/css/img/weibo.png)}#wapShareLink_qqzone{background-image:url(http://pimg1.126.net/mail/AppCore/bin/css/img/qqzone.png)}#wapShareLink_qqweibo{background-image:url(http://pimg1.126.net/mail/AppCore/bin/css/img/qqweibo.png)}#wapShareLink_renren{background-image:url(http://pimg1.126.net/mail/AppCore/bin/css/img/renren.png)}#wapShareLink_mail{background-image:url(http://pimg1.126.net/mail/AppCore/bin/css/img/mail.png)}#wapShareLink_sms{background-image:url(http://pimg1.126.net/mail/AppCore/bin/css/img/sms.png)}</style><style type="text/css">@media screen and (min-width:240px){#wapShareWrap a{font-size:9px}}@media screen and (min-width:320px){#wapShareWrap a{font-size:12px}}@media screen and (min-width:380px){#wapShareWrap a{font-size:14px}}@media screen and (min-width:420px){#wapShareWrap a{font-size:16px}}@media screen and (min-width:450px){#wapShareWrap a{font-size:18px}}@media screen and (min-width:480px){#wapShareWrap a{font-size:18px}}@media screen and (min-width:540px){#wapShareWrap a{font-size:20.25px}}@media screen and (min-width:600px){#wapShareWrap a{font-size:22px}}@media screen and (min-width:640px){#wapShareWrap a{font-size:24px}}</style></head>
<body>
<iframe src="https://c.m.163.com/nc/qa/uid.html" width="0" height="0" tabindex="-1" style="display:none;" class="ntesanalysis-sync-iframe"></iframe><div class="zhang_miss_wrap" id="zhang_miss_wrap">
<h1 class="hidden">失踪青年章莹颖</h1>
    <div class="zhang_miss_content" style="width: 750px; height: 1334px;">
        <!-- 项目内容 -->
        <div class="audio">
         <audio src="http://file.ws.126.net/f2e/news/zhang_miss/files/dog1.mp3" id="dog"></audio>
         <audio src="http://file.ws.126.net/f2e/news/zhang_miss/files/wings1.mp3" id="wings"></audio>
         <audio src="http://file.ws.126.net/f2e/news/zhang_miss/files/crow_sound.mp3" id="crow_sound"></audio>
         <audio src="http://file.ws.126.net/f2e/news/zhang_miss/files/fly_into_tree.mp3" id="fly_into_tree"></audio>
         <audio src="http://file.ws.126.net/f2e/news/zhang_miss/files/clock1.mp3" loop="" id="clock"></audio>
         <audio src="http://file.ws.126.net/f2e/news/zhang_miss/files/skateboard.mp3" id="skateboard"></audio>
         <audio src="http://file.ws.126.net/f2e/news/zhang_miss/files/wind.mp3" id="wind"></audio>
         <audio src="http://file.ws.126.net/f2e/news/zhang_miss/files/step.mp3" id="step"></audio>
         <audio src="http://file.ws.126.net/f2e/news/zhang_miss/files/shoot.mp3" id="shoot"></audio>
         <audio src="http://file.ws.126.net/f2e/news/zhang_miss/files/door.mp3" id="door"></audio>
         <audio src="http://file.ws.126.net/f2e/news/zhang_miss/files/car1.mp3" id="car"></audio>
         <audio src="http://file.ws.126.net/f2e/news/zhang_miss/files/cry.mp3" id="cry"></audio>
         <audio src="http://file.ws.126.net/f2e/news/zhang_miss/files/bus.mp3" id="bus"></audio>
         <audio src="http://file.ws.126.net/f2e/news/zhang_miss/files/cat.mp3" id="cat"></audio>
         <audio src="http://file.ws.126.net/f2e/news/zhang_miss/files/whistle2.mp3" id="whistle"></audio>
         <audio src="http://file.ws.126.net/f2e/news/zhang_miss/files/dog.mp3" id="police_dog"></audio>
         <audio src="http://file.ws.126.net/f2e/news/zhang_miss/files/stick.mp3" id="stick"></audio>
         <audio src="http://file.ws.126.net/f2e/news/zhang_miss/files/people.mp3" loop="" id="people"></audio>
         <audio src="http://file.ws.126.net/f2e/news/zhang_miss/files/phone1.mp3" id="phone"></audio>
         <audio src="http://file.ws.126.net/f2e/news/zhang_miss/files/csgogogo.mp3" id="go"></audio>
        </div>
        <div class="loading" style="display: none;">
         <div class="logo"></div>
         <div class="people"></div>
         <div class="loading_text">100%</div>
        </div>
    <canvas width="750" height="1334" style="touch-action: none; cursor: inherit;"></canvas></div>
    
</div>
<script src="http://img2.cache.netease.com/f2e/libs/jquery.js"></script>
<script src="http://img2.cache.netease.com/f2e/news/zhang_miss/Scroller.1231167.min.js"></script>
<script src="http://img2.cache.netease.com/f2e/news/zhang_miss/Animate.1231167.min.js"></script>
<script src="http://img2.cache.netease.com/f2e/news/zhang_miss/Tween.1231167.min.js"></script>
<script src="http://img2.cache.netease.com/f2e/news/zhang_miss/pixi.1231167.min.js"></script>
<script src="http://img2.cache.netease.com/f2e/news/zhang_miss/zhang_miss.1234423.min.js"></script><button title="HOOK DIV" style="width: 1px; height: 1px; position: absolute; top: -1000px; left: -1000px; z-index: 2; background-color: rgb(255, 0, 0);"></button>

<!--  -->

<!-- STAT WRating v1.0 -->
<script type="text/javascript" src="http://img1.cache.netease.com/common/script/wrating.js"></script>
<script type="text/javascript">
    var vjAcc = "860010-0502010100";
    var wrUrl = "http://163.wrating.com/";
    vjTrack();
</script><div style="display:none"><img src="http://163.wrating.com/a.gif?a=15e0a0bf39e&amp;t=&amp;i=-5fb4d660e.15945936727.0.91265c4123313&amp;b=http%3A//news.163.com/special/fdh5_zhangyy/%3F45732845%3D%26spssid%3D215e217675e5702aed710b4d1e8f51e3%26spsw%3D8%26from%3Dtimeline%26isappinstalled%3D0&amp;c=860010-0502010100&amp;s=414x736x24&amp;l=zh-cn&amp;z=8&amp;j=0&amp;f=-&amp;ut=11&amp;n=&amp;js=&amp;ck=1" id="wrTagImage" width="1" height="1"></div>
<noscript>
    &lt;img src="http://163.wrating.com/a.gif?c=860010-0502010100" width="1" height="1" /&gt;
</noscript>
<!-- STAT NetEase Devilfish 2006 -->
<script type="text/javascript" src="http://analytics.163.com/ntes.js"></script>
<script type="text/javascript">
    _ntes_nacc = "news"; //站点ID。
    neteaseTracker();
</script>
<!-- big data statistics -->
<!-- big data analysis -->
<script src="http://img1.cache.netease.com/f2e/products/analysis/js/analysis.350ctAoOoFtN.12.js"></script>
<script type="text/javascript" src="http://analytics.163.com/ntes.js"></script>
<script type="text/javascript" src="http://img4.cache.netease.com/utf8/3g/util/analysis.min.js"></script>
<script>
neteaseAnalysis({
    modelid: "newsfdh5_zhangyy",
    spst: 1
})
</script>
<script type="text/javascript" src="http://img1.cache.netease.com/utf8/3g/util/antanalysis.min.js"></script>
<script src="http://img2.cache.netease.com/f2e/news/zhang_miss/zepto.1233116.min.js"></script>
<script src="http://pimg1.126.net/mail/AppCore/min/h5.share.js"></script>
<script>
var thisDate=+new Date();
var frontDate=new Date(2017,5,9).getTime();
var calDay=parseInt((thisDate-frontDate)/(3600*1000*24))
//流量统计及其他用户行为
NTESAntAnalysis.sendData({
  projectid: "NTM-MMKAJZQA-1",  // 项目id 必填项 在传播信息统计平台上生成
  val_nm: "pageview",       // 当前行为时间大类名称 【click/share/download/open etc】
  val_act: "pageview",      // 子类用户行为名称 【open_smartBar】
  info: {                   //  扩展字段
    modelid:"fdh5_zhangyy",   //  modelid 用来区分子项目名称
    title:document.title            //  对应modelid 的项目名称 一般推荐用 document.title
  }
})
var data={
    imgurl:"http://cms-bucket.nosdn.127.net/a1f28fd70db647ae8f5adfe69b51087c20170821142434.jpeg",
    title:calDay+"天了，全世界都想找到她",
    body:"我们还没找到她，神探李昌钰说她仍可能活着"
}
//微信分享统计案例
document.addEventListener('WeixinJSBridgeReady', function() {
  window.WeixinJSBridge.on('menu:share:appmessage', function(argv) {
    return window.WeixinJSBridge.invoke('sendAppMessage', {
      "img_url": data.imgurl || imgurl,
      "link": NTESAntAnalysis.getShareLink(), // 获取分享出去的link
      "desc": data.body,
      "title": data.title
    }, function() {
    // 统计分享成功
      NTESAntAnalysis.sendData({
        projectid: "NTM-MMKAJZQA-1",  // 项目id 必填项 在传播信息统计平台上生成
        val_nm: "share",       // 当前行为时间大类名称 【click/share/download/open etc】
        val_act: "sharedone",      // 子类用户行为名称 【open_smartBar】
        info: {                   //  扩展字段
          modelid:"fdh5_zhangyy",   //  modelid 用来区分子项目名称
          title:document.title            //  对应modelid 的项目名称 一般推荐用 document.title
        }
      })
    });
  });
   window.WeixinJSBridge.on('menu:share:timeline', function(argv) {
    return window.WeixinJSBridge.invoke('shareTimeline', {
      "img_url": data.imgurl || imgurl,
      "link": NTESAntAnalysis.getShareLink(), // 获取分享出去的link
      "desc": data.body,
      "title": data.title
    }, function() {
    // 统计分享成功
      NTESAntAnalysis.sendData({
        projectid: "NTM-MMKAJZQA-1",  // 项目id 必填项 在传播信息统计平台上生成
        val_nm: "share",       // 当前行为时间大类名称 【click/share/download/open etc】
        val_act: "sharedone",      // 子类用户行为名称 【open_smartBar】
        info: {                   //  扩展字段
          modelid:"fdh5_zhangyy",   //  modelid 用来区分子项目名称
          title:document.title            //  对应modelid 的项目名称 一般推荐用 document.title
        }
      })
    });
  });
});
//非微信
function weiXin(){
       var ua = window.navigator.userAgent.toLowerCase();
       if(ua.match(/MicroMessenger/i) == 'micromessenger'){
           return true;
       }else{
           return false;
       }
   }
   var isWeiXin=weiXin();
   if(!isWeiXin){
      h5Share.init({
              title: calDay+"天了，全世界都想找到她",
              desc: '我们还没找到她，神探李昌钰说她仍可能活着',
              url: window.location.href,
              img: 'http://cms-bucket.nosdn.127.net/a1f28fd70db647ae8f5adfe69b51087c20170821142434.jpeg'
          });
   }
</script>

</body></html>