<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=750,user-scalable=no">
   <link rel="stylesheet" type="text/css" href="/styles/page/miss.css">
   <!-- <link rel="stylesheet" type="text/css" href="http://img2.cache.netease.com/f2e/news/potter/potter.1226758.css"> -->
   <title>miss</title>
</head>
<body>
   <div class="zhang_miss_wrap" id="zhang_miss_wrap">
      <div class="zhang_miss_content">
         <div class="loading">
            <div class="logo"></div>
            <div class="people"></div>
            <div class="loading_text">100%</div>
         </div>
      </div>
   </div>
   <script src="http://img2.cache.netease.com/f2e/news/zhang_miss/Scroller.1231167.min.js"></script>
   <script src="http://img2.cache.netease.com/f2e/news/zhang_miss/Animate.1231167.min.js"></script>
   <script src="http://img2.cache.netease.com/f2e/news/zhang_miss/Tween.1231167.min.js"></script>
   <script type="text/javascript" src="/scripts/pages/h5/miss/miss-s.js"></script>
</body>
</html>