<!DOCTYPE html>
<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=gbk">
   <meta name="viewport" content="width=750 user-scalable=no">
   <meta name="model_url" content="http://news.163.com/special/fdh5_harrypotter20_1/">
   <title>哈利波特</title>
   <link rel="stylesheet" type="text/css" href="http://img2.cache.netease.com/f2e/news/common/css/news.BmDT9sluSdyy.29.css">
   <link rel="stylesheet" type="text/css" href="http://img2.cache.netease.com/f2e/news/potter/potter.1226758.css">
   <script type="text/javascript">
  if((/_touchall=1/.test(location.search)||!/auto|house|home|bbs|blog/.test(location.host))&&!/\/dy.163.com\/v2/.test(location.href)&&!(document.documentElement&&document.documentElement.getAttribute("phone"))&&/163\.com/.test(location.host)&&!/_pc=1/.test(location.search)&&/android.*?mobile|ipod|blackberry|bb\d+|phone/i.test(navigator.userAgent))document.write('<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/><div style="position:fixed;width:100%;height:100%;background:#fff"><div style="position:absolute;top:50%;left:0;width:100%;height:40px;margin-top:-40px;text-align:center;background:url(http://img1.cache.netease.com/utf8/endpage/image/loading.gif) no-repeat top center;padding-top:40px;color:#666">页面加载中 ...</div></div><script src="http://img2.cache.netease.com/f2e/system/touchall/collect/foot~0MIo5ok9z0mD.js"'+' defer><'+'/script><plaintext style="display:none">');

</script>
</head>
<body>
   <div class="potter_wrap" id="potter_wrap">
      <h1 class="hidden">哈利波特</h1>
      <div class="potter_content">
        <!-- 项目内容 -->
      </div>
      <div id="loading" style="display: none;">
         <div class="splash-text">LOADING</div>
         <div class="splash-percentage">100</div>
      </div>
      <div class="end">
         <div class="top"></div>
         <div class="author">
            <div class="download">
               <a href="http://m.163.com/newsapp/applinks.html?s=news_sps_feidian" target="_blank"></a>
            </div>
         </div>
         <div class="logo"></div>
      </div>
      <audio id="audio2" src="http://file.ws.126.net/f2e/news/potter/files/2.mp3" loop=""></audio>
      <audio id="audio3" src="http://file.ws.126.net/f2e/news/potter/files/3-1.mp3" loop=""></audio>
      <audio id="audio4" src="http://file.ws.126.net/f2e/news/potter/files/4-1.mp3" loop=""></audio>
      <audio id="school1" src="http://file.ws.126.net/f2e/news/potter/files/school1-1.mp3"></audio>
      <audio id="school2" src="http://file.ws.126.net/f2e/news/potter/files/school2-1.mp3"></audio>
      <audio id="school3" src="http://file.ws.126.net/f2e/news/potter/files/school3-1.mp3"></audio>
      <audio id="school4" src="http://file.ws.126.net/f2e/news/potter/files/school4-1.mp3"></audio>
      <audio id="paint2" src="http://file.ws.126.net/f2e/news/potter/files/paint1.mp3"></audio>
      <audio id="paint1" src="http://file.ws.126.net/f2e/news/potter/files/paint_w.mp3"></audio>
      <audio id="change_fail" src="http://file.ws.126.net/f2e/news/potter/files/change_fail2.mp3"></audio>
      <audio id="change_success" src="http://file.ws.126.net/f2e/news/potter/files/change_success1.mp3"></audio>
      <audio id="fly_fail" src="http://file.ws.126.net/f2e/news/potter/files/fly_fail1.mp3"></audio>
      <audio id="fly_success" src="http://file.ws.126.net/f2e/news/potter/files/fly_success1.mp3"></audio>
      <audio id="word1" src="http://file.ws.126.net/f2e/news/potter/files/word1-1.mp3"></audio>
      <audio id="word2" src="http://file.ws.126.net/f2e/news/potter/files/word2-1.mp3"></audio>
      <audio id="word3" src="http://file.ws.126.net/f2e/news/potter/files/word3.mp3"></audio>
      <audio id="word4" src="http://file.ws.126.net/f2e/news/potter/files/word4.mp3"></audio>
      <audio id="word5" src="http://file.ws.126.net/f2e/news/potter/files/word5.mp3"></audio>
      <audio id="fly" src="http://file.ws.126.net/f2e/news/potter/files/fly1.mp3"></audio>
   </div>
   <script src="http://pimg1.126.net/mail/AppCore/min/h5.zepto.js"></script>
   <script src="http://pimg1.126.net/mail/AppCore/min/h5.share.js"></script>
   <script src="http://img2.cache.netease.com/f2e/libs/jquery.js"></script>
   <script src="http://img2.cache.netease.com/f2e/news/potter/Scroller.1224849.min.js"></script>
   <script src="http://img2.cache.netease.com/f2e/news/potter/Animate.1224849.min.js"></script>
   <script src="http://img2.cache.netease.com/f2e/news/potter/Tween.1224849.min.js"></script>
   <script src="http://img2.cache.netease.com/f2e/news/potter/pixi.1224849.min.js"></script>
   <script src="http://img2.cache.netease.com/f2e/news/potter/potter.1226760.min.js"></script>
</body>
</html>


