<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=750,user-scalable=no">
   <link rel="stylesheet" type="text/css" href="/styles/page/season.css">
   <!-- <link rel="stylesheet" type="text/css" href="http://img2.cache.netease.com/f2e/news/potter/potter.1226758.css"> -->
   <title>season</title>
</head>
<body>
   <div id="seasonTest"></div>
   <script src="/scripts/assets/scroller.js"></script>
   <script src="/scripts/assets/Animate.js"></script>
   <script src="/scripts/assets/Tween.js"></script>
   <script type="text/javascript" src="/scripts/pages/pixi/season/season.js"></script>
</body>
</html>