<% layout('/partials/layout.ejs') -%>
<% block('page_title', 'index') -%>
<% block('page_css', '/styles/page/index.css') -%>
<% block('page_js', '/scripts/pages/index.js') -%>

<div class="gsap-example-1">
   <p class="box"></p>
   <p class="max"></p>
   <span class="js-play">play</span>
   <span class="js-pause">pause</span>
   <span class="js-resume">resume</span>
   <span class="js-reverse">reverse</span>
   <span class="js-seek">seek</span>
</div>