<% layout('/partials/layout.ejs') -%>
<% block('page_title', '炫酷按钮') -%>
<% block('page_css', '/styles/page/testBtn.css') -%>
<% block('page_js', '/scripts/pages/testBtn.js') -%>
<a class="button">
   <span>button</span>
</a>

