<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>music</title>
   <link rel="stylesheet" type="text/css" href="styles/page/threejs/music.css">
</head>
<body>
   <div id="loading">
      <div class="splash-text">LOADING</div>
      <div class="splash-percentage">0</div>
   </div>
   <div id="musicViewBack" class="music-div"></div>
   <div id="musicView" class="music-div"></div>
   <script type="text/javascript" src="scripts/pages/threejs/music-s.js"></script>
</body>
</html>