<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>music</title>
   <link rel="stylesheet" type="text/css" href="styles/page/threejs/music.css">
</head>
<body>
   <div id="loading">
      <div class="splash-text">LOADING</div>
      <div class="splash-percentage">0</div>
   </div>
   <div id="musicView"></div>
   <script type="text/javascript" src="scripts/pages/threejs/music-s.js"></script>
</body>
</html>